* {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #d799ae;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #fdf0f4;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #eb88ff;
}

main {
  padding: 1rem;
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  text-align: center;
}

img {
  text-align: center;
  padding: 1rem;
}

footer {
  text-align: center;
  color: #aa99aa;
  background-color: #fdf0f4;
}

main {
  background: #fdf0f4;
}

@media (max-width: sm) {
  body {
    width: 100%;
  }
}
@media (max-width: md) {
  body {
    width: 100%;
  }
}
@media (max-width: lg) {
  body {
    width: 100%;
  }
}
@media (max-width: xl) {
  body {
    width: 100%;
  }
}
@media (max-width: xxl) {
  body {
    width: 100%;
  }
}
